/* <uniquifier>: Use a uniquifier for the class name */
/* <weight>: Use a value from 300 to 700 */
/* from google font */
.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 26px;
  color: orange;
}

body {
  background-color: aquamarine;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
}
